.about {
	max-width: 1200px;
	margin: 4.8rem auto;
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 2.4rem;
}
.profilebox {
	margin: auto;
}
.profile {
	border-radius: 50%;
}

.textbox {
	padding: 2.4rem;
	position: relative;
}
.textbox p {
	margin: 2.4rem 0;
	line-height: 1.8;
}
.icons {
	z-index: 1;
}

@media only screen and (max-width: 768px) {
	.about {
		grid-template-columns: 1fr;
	}
	.profilebox {
		width: 100px;
		height: 100px;
	}
}
