.card {
	border-radius: 11px;
	overflow: hidden;
	cursor: pointer;
	box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,
		rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}

.imgbox {
	display: flex;
	justify-content: center;
	padding: 1.2rem;
}
.textbox {
	padding: 2.4rem;
}

.title {
	font-size: 3rem;
	font-weight: 500;
}

.subtitle {
	color: #777;
	font-size: 1.8rem;
	font-weight: 400;
}

.date {
	color: #777;
	font-size: 1.2rem;
	text-align: right;
}
