.main {
	margin: auto;
	max-width: 1200px;
	padding: 2.4rem;
	font-size: 2rem;
}

.hero {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 2.4rem;
	background-color: #ebfbee;
	min-height: 50vh;
}
.hero .title {
	margin: -2rem auto;
	font-size: 7.4rem;
	font-weight: 500;
	color: #37b24d;
	text-align: center;
}
.hero .subtitle {
	font-size: 3rem;
	font-weight: 400;
	text-align: center;
}

.text {
	font-size: 2.4rem;
	font-weight: 400;
}

.section {
	display: grid;
	grid-template-columns: 1fr 1fr;
	margin: 2.4rem auto;
}

.textbox {
	justify-self: center;
	align-self: center;
	padding: 3.6rem;
}

.textbox h1 {
	font-weight: 500;
}
.textbox p {
	margin: 3.2rem 0;
}

.btn {
	display: inline-block;
	padding: 1.2rem 2.4rem;
	border-radius: 11px;
	background: #37b24d;
	color: #fff;
	text-transform: uppercase;
	cursor: pointer;
	text-decoration: none;
}

@media only screen and (max-width: 280px) {
	.imgbox {
		display: none;
	}
}

@media only screen and (max-width: 768px) {
	.hero .title {
		font-size: 6.2rem;
	}
	.hero .subtitle {
		font-size: 2.4rem;
	}
	.section {
		grid-template-columns: 1fr;
	}
}
