.hero {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 2.4rem;
	background-color: #ebfbee;
	min-height: 50vh;
}
.hero .title {
	margin-top: -2rem;
	font-size: 5.2rem;
	font-weight: 500;
	color: #37b24d;
}
.text {
	font-size: 2.4rem;
	font-weight: 400;
}
.about {
	padding: 2.4rem;
	max-width: 1200px;
	margin: auto;
	font-size: 2rem;
}
.section {
	display: grid;
	grid-template-columns: 1fr 1fr;
}
.imgbox,
.textbox {
	justify-self: center;
	align-self: center;
}
.imgbox {
	font-size: 300px;
}
.textbox h1 {
	font-weight: 500;
}
.textbox p {
	margin: 3.2rem 0;
}

.btn {
	display: inline-block;
	padding: 1.2rem 2.4rem;
	border-radius: 11px;
	background: #37b24d;
	color: #fff;
	text-transform: uppercase;
	cursor: pointer;
}
