.work {
	width: 80%;
	margin: auto;
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 2.4rem;
	border-radius: 11px;
	overflow: hidden;
	box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,
		rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}

.textbox {
	display: flex;
	flex-direction: column;
	width: 100%;
	padding: 1.2rem;
}

.title {
	margin-bottom: 2.4rem;
	font-size: 2.4rem;
	font-weight: 500;
}

.tags {
	display: flex;
	gap: 5px;
}

.tag {
	background: #eaeaea;
	padding: 0.6rem 1.2rem;
	border-radius: 11px;
	font-size: 1.4rem;
}

.links {
	display: flex;
	gap: 10px;
	font-size: 2.4rem;
}

.links span {
	background: #eaeaea;
	padding: 0.6rem 1.2rem;
	border-radius: 50%;
}

.icon {
	transform: translateY(5px);
}

@media only screen and (max-width: 768px) {
	.work {
		flex-direction: column;
	}
	.textbox {
		text-align: center;
	}
	.links {
		justify-content: center;
	}
}
